<h1>product list</h1>
<div class="container">
  <div class="row">
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
    <div class=card col-3 style="width: 18rem;">
      <img class="card-img-top" src="assets/images/fig1.svg" alt="Card image cap">
      <div class=card-body>
        <a class="card-link">Hello</a>
        <p class="card-text">Check Text</p>
        <button type="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" class="btn btn-secondary">Buy</button>
      </div>
    </div>
  </div>
</div>
